In [1]:
import pandas as pd
import numpy as np
import re

Import Data

In [2]:
cities = pd.read_csv("../data/raw/PLACES__Census_Tract_Data__GIS_Friendly_Format___2021_release_20250804.csv", dtype={"TractFIPS": str})
fara = pd.read_csv("../data/raw/food_access/Food Access Research Atlas.csv", dtype={"CensusTract": str})
cal_acs5 = pd.read_csv("../data/raw/ACS5 2019.csv", dtype={'GEOID': str})

Get df shapes

In [3]:
print(f'cities: {cities.shape}, fara: {fara.shape}, cal_asc5: {cal_acs5.shape}')

cities: (72337, 67), fara: (72531, 147), cal_asc5: (8057, 5)

Filter for California and prep GEOID column for future merge

In [4]:
cities = cities.rename(columns={"TractFIPS": "GEOID"})
fara = fara.rename(columns={"CensusTract": "GEOID"})

calif_cities = cities[cities['StateDesc'] == 'California']

calif_food_access =  fara[fara['State'] == 'California']

calif_food_access.loc[:, "GEOID"] = "0" + calif_food_access['GEOID']

calif_cities.loc[:, "GEOID"] = calif_cities["GEOID"]

print(f'cities: {calif_cities.shape}, FARA: {calif_food_access.shape}')

cities: (8005, 67), FARA: (8024, 147)

View columns of 500 Cities dataset

In [5]:
calif_cities.columns
calif_cities.GEOID

1        06067007402
5        06037221601
6        06037402404
7        06059011102
8        06037294200
            ...
17656    06111008001
17658    06075015300
17659    06081605400
17660    06085509302
17665    06075010100
Name: GEOID, Length: 8005, dtype: object

View columns fo FARA dataset

In [6]:
print(calif_food_access.columns.to_list())

['GEOID', 'State', 'County', 'Urban', 'Pop2010', 'OHU2010', 'GroupQuartersFlag', 'NUMGQTRS', 'PCTGQTRS', 'LILATracts_1And10', 'LILATracts_halfAnd10', 'LILATracts_1And20', 'LILATracts_Vehicle', 'HUNVFlag', 'LowIncomeTracts', 'PovertyRate', 'MedianFamilyIncome', 'LA1and10', 'LAhalfand10', 'LA1and20', 'LATracts_half', 'LATracts1', 'LATracts10', 'LATracts20', 'LATractsVehicle_20', 'LAPOP1_10', 'LAPOP05_10', 'LAPOP1_20', 'LALOWI1_10', 'LALOWI05_10', 'LALOWI1_20', 'lapophalf', 'lapophalfshare', 'lalowihalf', 'lalowihalfshare', 'lakidshalf', 'lakidshalfshare', 'laseniorshalf', 'laseniorshalfshare', 'lawhitehalf', 'lawhitehalfshare', 'lablackhalf', 'lablackhalfshare', 'laasianhalf', 'laasianhalfshare', 'lanhopihalf', 'lanhopihalfshare', 'laaianhalf', 'laaianhalfshare', 'laomultirhalf', 'laomultirhalfshare', 'lahisphalf', 'lahisphalfshare', 'lahunvhalf', 'lahunvhalfshare', 'lasnaphalf', 'lasnaphalfshare', 'lapop1', 'lapop1share', 'lalowi1', 'lalowi1share', 'lakids1', 'lakids1share', 'laseniors1', 'laseniors1share', 'lawhite1', 'lawhite1share', 'lablack1', 'lablack1share', 'laasian1', 'laasian1share', 'lanhopi1', 'lanhopi1share', 'laaian1', 'laaian1share', 'laomultir1', 'laomultir1share', 'lahisp1', 'lahisp1share', 'lahunv1', 'lahunv1share', 'lasnap1', 'lasnap1share', 'lapop10', 'lapop10share', 'lalowi10', 'lalowi10share', 'lakids10', 'lakids10share', 'laseniors10', 'laseniors10share', 'lawhite10', 'lawhite10share', 'lablack10', 'lablack10share', 'laasian10', 'laasian10share', 'lanhopi10', 'lanhopi10share', 'laaian10', 'laaian10share', 'laomultir10', 'laomultir10share', 'lahisp10', 'lahisp10share', 'lahunv10', 'lahunv10share', 'lasnap10', 'lasnap10share', 'lapop20', 'lapop20share', 'lalowi20', 'lalowi20share', 'lakids20', 'lakids20share', 'laseniors20', 'laseniors20share', 'lawhite20', 'lawhite20share', 'lablack20', 'lablack20share', 'laasian20', 'laasian20share', 'lanhopi20', 'lanhopi20share', 'laaian20', 'laaian20share', 'laomultir20', 'laomultir20share', 'lahisp20', 'lahisp20share', 'lahunv20', 'lahunv20share', 'lasnap20', 'lasnap20share', 'TractLOWI', 'TractKids', 'TractSeniors', 'TractWhite', 'TractBlack', 'TractAsian', 'TractNHOPI', 'TractAIAN', 'TractOMultir', 'TractHispanic', 'TractHUNV', 'TractSNAP']

Drop irrelevant columns

In [7]:
drop_cols = [
    "lapop1share",
    "laasianhalfshare",
    "lapophalf",
    "lapophalfshare",
    "lalowihalf",
    "lalowihalfshare",
    "lakidshalf",
    "lakidshalfshare",
    "laseniorshalf",
    "laseniorshalfshare",
    "lawhitehalf",
    "lawhitehalfshare",
    "lablackhalf",
    "lablackhalfshare",
    "laasianhalf",
    "laaianhalf",
    "lanhopihalf",
    "lanhopihalfshare",
    "lasnaphalfshare",
    "laaianhalfshare",
    "laomultirhalf",
    "laomultirhalfshare",
    "lahisphalf",
    "lahisphalfshare",
    "lahunvhalf",
    "lahunvhalfshare",
    "lasnaphalf",
    "lapop1", 
    "TractSNAP",
    "TractHUNV",
    "TractHispanic",
    "TractOMultir",
    "TractAIAN",
    "TractNHOPI",
    "TractAsian",
    "TractBlack",
    "TractWhite",
    "TractSeniors",
    "TractKids",
    "lasnap20share",
    "lasnap20",
    "lahunv20share",
    "lahisp20share",
    "lahisp20",
    "laomultir20share",
    "laomultir20",
    "laaian20share",
    "laaian20",
    "lanhopi20share",
    "lanhopi20",
    "laasian20share",
    "laasian20",
    "lablack20share",
    "lablack20",
    "lawhite20share",
    "lawhite20",
    "laseniors20share",
    "laseniors20",
    "lakids20share",
    "lakids20",
    "lalowi20share",
    "lalowi20",
    "lapop20share",
    "lapop20",
    "lasnap10share",
    "lasnap10",
    "lahunv10share",
    "lahunv10",
    "lahisp10share",
    "lahisp10",
    "laomultir10share",
    "laomultir10",
    "laaian10share",
    "laaian10",
    "lanhopi10share", 
    "lanhopi10",
    "laasian10share",
    "laasian10",
    "lablack10share",
    "lablack10",
    "lawhite10share",
    "lawhite10",
    "laseniors10share",
    "laseniors10",
    "lakids10share",
    "lakids10",
    "lalowi10share",
    "lalowi10",
    "lapop10share",
    "lapop10",
    "lasnap1share",
    "lasnap1",
    "lahunv1share",
    "lahunv1",
    "lahisp1share",
    "lahisp1", 
    "laomultir1share",
    "laomultir1",
    "laaian1share",
    "laaian1",
    "lanhopi1share",
    "lanhopi1",
    "laasian1share",
    "laasian1",
    "lablack1share",
    "lablack1",
    "lawhite1share",
    "lawhite1",
    "laseniors1share",
    "laseniors1",
    "lakids1share",
    "lakids1",
    "lalowi1share",
    "lalowi1",
    "GroupQuartersFlag",
    "lahunv20",
    "NUMGQTRS",
    "PCTGQTRS",
    "State"
]

In [8]:
calif_food_access = calif_food_access.drop(columns=drop_cols)

Treat calif_food_access columns

In [9]:
calif_food_access.apply(pd.unique).to_frame(name="Unique Values")

                                                          Unique Values
GEOID                 [06001400100, 06001400200, 06001400300, 060014...
County                [Alameda County, Alpine County, Amador County,...
Urban                                                            [1, 0]
Pop2010               [2937, 1974, 4865, 3703, 3517, 1571, 4206, 359...
OHU2010               [1314, 856, 2418, 1779, 1578, 690, 1755, 1567,...
LILATracts_1And10                                                [0, 1]
LILATracts_halfAnd10                                             [0, 1]
LILATracts_1And20                                                [0, 1]
LILATracts_Vehicle                                               [0, 1]
HUNVFlag                                                         [0, 1]
LowIncomeTracts                                                  [0, 1]
PovertyRate           [3.6, 6.5, 5.3, 11.3, 11.9, 9.2, 12.9, 12.2, 1...
MedianFamilyIncome    [220486.0, 233625.0, 166875.0, 141250.0, 13458...
LA1and10                                                         [1, 0]
LAhalfand10                                                      [1, 0]
LA1and20                                                         [1, 0]
LATracts_half                                                    [1, 0]
LATracts1                                                        [1, 0]
LATracts10                                                       [0, 1]
LATracts20                                                       [0, 1]
LATractsVehicle_20                                               [0, 1]
LAPOP1_10             [1711.0, nan, 947.0, 1383.0, 1806.0, 0.0, 1934...
LAPOP05_10            [2898.0, nan, 892.0, 80.0, 889.0, 1571.0, 4102...
LAPOP1_20             [1711.0, nan, 947.0, 1383.0, 1806.0, 0.0, 1934...
LALOWI1_10            [172.0, nan, 278.0, 653.0, 779.0, 0.0, 187.0, ...
LALOWI05_10           [291.0, nan, 115.0, 16.0, 196.0, 270.0, 1462.0...
LALOWI1_20            [172.0, nan, 278.0, 653.0, 779.0, 0.0, 187.0, ...
TractLOWI             [312.0, 230.0, 526.0, 802.0, 809.0, 286.0, 192...

In [10]:
calif_food_access.loc[:, "LAPOP1_10"] = calif_food_access["LAPOP1_10"].fillna(0)
calif_food_access.loc[:, "LAPOP05_10"] = calif_food_access["LAPOP05_10"].fillna(0)
calif_food_access.loc[:, "LAPOP1_20"] = calif_food_access["LAPOP1_20"].fillna(0)
calif_food_access.loc[:, "LALOWI1_10"] = calif_food_access["LALOWI1_10"].fillna(0)
calif_food_access.loc[:, "LALOWI05_10"] = calif_food_access["LALOWI05_10"].fillna(0)
calif_food_access.loc[:, "LALOWI1_20"] = calif_food_access["LALOWI1_20"].fillna(0)
calif_food_access.apply(pd.unique).to_frame(name="Unique Values")

                                                          Unique Values
GEOID                 [06001400100, 06001400200, 06001400300, 060014...
County                [Alameda County, Alpine County, Amador County,...
Urban                                                            [1, 0]
Pop2010               [2937, 1974, 4865, 3703, 3517, 1571, 4206, 359...
OHU2010               [1314, 856, 2418, 1779, 1578, 690, 1755, 1567,...
LILATracts_1And10                                                [0, 1]
LILATracts_halfAnd10                                             [0, 1]
LILATracts_1And20                                                [0, 1]
LILATracts_Vehicle                                               [0, 1]
HUNVFlag                                                         [0, 1]
LowIncomeTracts                                                  [0, 1]
PovertyRate           [3.6, 6.5, 5.3, 11.3, 11.9, 9.2, 12.9, 12.2, 1...
MedianFamilyIncome    [220486.0, 233625.0, 166875.0, 141250.0, 13458...
LA1and10                                                         [1, 0]
LAhalfand10                                                      [1, 0]
LA1and20                                                         [1, 0]
LATracts_half                                                    [1, 0]
LATracts1                                                        [1, 0]
LATracts10                                                       [0, 1]
LATracts20                                                       [0, 1]
LATractsVehicle_20                                               [0, 1]
LAPOP1_10             [1711.0, 0.0, 947.0, 1383.0, 1806.0, 1934.0, 7...
LAPOP05_10            [2898.0, 0.0, 892.0, 80.0, 889.0, 1571.0, 4102...
LAPOP1_20             [1711.0, 0.0, 947.0, 1383.0, 1806.0, 1934.0, 7...
LALOWI1_10            [172.0, 0.0, 278.0, 653.0, 779.0, 187.0, 5.0, ...
LALOWI05_10           [291.0, 0.0, 115.0, 16.0, 196.0, 270.0, 1462.0...
LALOWI1_20            [172.0, 0.0, 278.0, 653.0, 779.0, 187.0, 5.0, ...
TractLOWI             [312.0, 230.0, 526.0, 802.0, 809.0, 286.0, 192...

Treat cities dataframe

In [11]:
calif_cities.apply(pd.unique).to_frame(name="Unique Values")

                                                         Unique Values
StateAbbr                                                         [CA]
StateDesc                                                 [California]
CountyName           [Sacramento, Los Angeles, Orange, Riverside, N...
CountyFIPS           [6067, 6037, 6059, 6065, 6055, 6001, 6015, 601...
GEOID                [06067007402, 06037221601, 06037402404, 060590...
...                                                                ...
STROKE_CrudePrev     [3.9, 2.9, 0.3, 2.7, 2.6, 5.6, 4.2, 4.0, 2.1, ...
STROKE_Crude95CI     [( 3.6,  4.3), ( 2.6,  3.3), ( 0.3,  0.4), ( 2...
TEETHLOST_CrudePrev  [18.2, 14.8, 8.1, 12.3, 12.1, 19.7, 23.8, 18.8...
TEETHLOST_Crude95CI  [(13.7, 23.5), (10.7, 19.6), ( 5.5, 12.1), ( 9...
Geolocation          [POINT (-121.3791473 38.6869681), POINT (-118....

[67 rows x 1 columns]

In [12]:
calif_cities = calif_cities.drop(columns=["StateAbbr", "StateDesc", "CountyFIPS"])
calif_cities.columns

Index(['CountyName', 'GEOID', 'TotalPopulation', 'ACCESS2_CrudePrev',
       'ACCESS2_Crude95CI', 'ARTHRITIS_CrudePrev', 'ARTHRITIS_Crude95CI',
       'BINGE_CrudePrev', 'BINGE_Crude95CI', 'BPHIGH_CrudePrev',
       'BPHIGH_Crude95CI', 'BPMED_CrudePrev', 'BPMED_Crude95CI',
       'CANCER_CrudePrev', 'CANCER_Crude95CI', 'CASTHMA_CrudePrev',
       'CASTHMA_Crude95CI', 'CERVICAL_CrudePrev', 'CERVICAL_Crude95CI',
       'CHD_CrudePrev', 'CHD_Crude95CI', 'CHECKUP_CrudePrev',
       'CHECKUP_Crude95CI', 'CHOLSCREEN_CrudePrev', 'CHOLSCREEN_Crude95CI',
       'COLON_SCREEN_CrudePrev', 'COLON_SCREEN_Crude95CI', 'COPD_CrudePrev',
       'COPD_Crude95CI', 'COREM_CrudePrev', 'COREM_Crude95CI',
       'COREW_CrudePrev', 'COREW_Crude95CI', 'CSMOKING_CrudePrev',
       'CSMOKING_Crude95CI', 'DENTAL_CrudePrev', 'DENTAL_Crude95CI',
       'DEPRESSION_CrudePrev', 'DEPRESSION_Crude95CI', 'DIABETES_CrudePrev',
       'DIABETES_Crude95CI', 'GHLTH_CrudePrev', 'GHLTH_Crude95CI',
       'HIGHCHOL_CrudePrev', 'HIGHCHOL_Crude95CI', 'KIDNEY_CrudePrev',
       'KIDNEY_Crude95CI', 'LPA_CrudePrev', 'LPA_Crude95CI',
       'MAMMOUSE_CrudePrev', 'MAMMOUSE_Crude95CI', 'MHLTH_CrudePrev',
       'MHLTH_Crude95CI', 'OBESITY_CrudePrev', 'OBESITY_Crude95CI',
       'PHLTH_CrudePrev', 'PHLTH_Crude95CI', 'SLEEP_CrudePrev',
       'SLEEP_Crude95CI', 'STROKE_CrudePrev', 'STROKE_Crude95CI',
       'TEETHLOST_CrudePrev', 'TEETHLOST_Crude95CI', 'Geolocation'],
      dtype='object')

Merge Data on GEOID column

In [13]:
merged = pd.merge(calif_cities, calif_food_access, on='GEOID', how='inner')
merged = pd.merge(merged, cal_acs5, on="GEOID", how="inner")

merged.shape

(8004, 95)

Export

In [14]:
merged.to_csv("../data/processed/Fara+500+.csv")